<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-04-02T16:50:47Z</date>
	<key>WorkspacePath</key>
	<string>/Users/tallan/Desktop/EECS183/misc/lab9/lab9.xcodeproj</string>
</dict>
</plist>
